# ==============================================================================
# Directorios de salida de compilación (Build / Binarios)
# ==============================================================================
# Ignora toda la carpeta donde CMake y Ninja compilan el juego
/cmake-build-debug/
/cmake-build-release/
/build/

# Ignora los binarios generados automáticamente por el compilador de Slang
*.spv

# ==============================================================================
# IDEs y Entornos de Desarrollo
# ==============================================================================
# JetBrains CLion (Configuraciones locales de proyectos, tareas y cachés)
/.idea/
cmake-build-*/

# Microsoft Visual Studio Code
**/.vscode/

# Archivos basura del sistema operativo
.DS_Store
Thumbs.db

# ==============================================================================
# Archivos de configuración local del desarrollador
# ==============================================================================
/local.properties
